<div class="px-4 mt-10 lg:mt-20">
    <div class="2xl:container 2xl:mx-auto md:px-6 px-4 bg-white py-10">
        <h1 class="text-center text-3xl text-blue-700 font-weight-bold lg:pb-8 pb-5"><b><i>
                    <u>MY PORTFOLIO</u>
                </i></b></h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-0 lg:pb-16 pb-10">
            <div class="text-center flex justify-center sm:justify-end items-center mt-5">
                <div class="flex justify-center items-center">
                    <button
                        class="rounded-full ... mr-4 py-1 px-5 lg:py-3 lg:px-8 text-blue-600 border-2 border-blue-600 hover:text-white hover:bg-blue-600"
                        id="All">All</button>
                    <button
                        class="rounded-full ... mr-4 py-1 px-5 lg:py-3 lg:px-8 text-blue-600 border-2 border-blue-600 hover:text-white hover:bg-blue-600"
                        id="Design">Design</button>
                </div>
            </div>
            <div class="text-center flex justify-center sm:justify-start items-center mt-5">
                <div class="flex justify-center items-center">
                    <button
                        class="rounded-full ... mr-4 py-1 px-5 lg:py-3 lg:px-8 text-blue-600 border-2 border-blue-600 hover:text-white hover:bg-blue-600"
                        id="Development">Development</button>
                    <button
                        class="rounded-full ... mr-4 py-1 px-5 lg:py-3 lg:px-8 text-blue-600 border-2 border-blue-600 hover:text-white hover:bg-blue-600"
                        id="Marketing">Marketing</button>
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-3 grid-cols-1 gap-8">
            <div class="flex items-center justify-center portfolio-item first">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-1.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-1.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center portfolio-item second">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-2.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-2.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center portfolio-item third">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-3.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-3.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center portfolio-item fourth">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-4.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-4.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center portfolio-item fifth">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-5.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-5.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center portfolio-item sixth">
                <div class="relative overflow-hidden mb-2">
                    <img class="img-fluid rounded w-100" src="../../../assets/Images/portfolio-6.jpg" alt="">
                    <div class="portfolio-btn bg-blue-600 flex items-center justify-center">
                        <a href="../../../assets/Images/portfolio-6.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>