<!-- Footer Start -->
<div class="flex justify-center items-center bg-gray-800 text-white pt-5 py-1 px-sm-1 px-md-5 lg:mt-20 mt-10">
    <div class="container text-center py-5">
        <div class="flex justify-center mb-4">
            <a class="mr-2"><i class="fab p-4 rounded-full bg-white text-black fa-twitter"></i></a>
            <a class="mr-2"><i class="fab py-4 px-5 rounded-full bg-white text-black fa-facebook-f"></i></a>
            <a class="mr-2"><i class="fab p-4 rounded-full bg-white text-black fa-linkedin-in"></i></a>
            <a class=""><i class="fab p-4 rounded-full bg-white text-black fa-instagram"></i></a>
        </div>
        <div class="flex justify-center mb-3">
            <a class="text-white">Privacy</a>
            <span class="px-3">|</span>
            <a class="text-white">Terms</a>
            <span class="px-3">|</span>
            <a class="text-white">FAQs</a>
            <span class="px-3">|</span>
            <a class="text-white">Help</a>
        </div>
        <p class="m-0">&copy; <a class="text-white font-weight-bold">Portfolio.</a><span
                class="text-blue-600 font-weight-bold"> All Rights
                Reserved.
                Designed by</span><a class="text-white font-weight-bold"> Mohd Ahasan Khan</a>
        </p>
    </div>
</div>
<!-- Footer End -->