<div class="px-4 mt-10 lg:mt-20">
    <div class="2xl:container 2xl:mx-auto md:px-6 px-4 py-10 bg-white">
        <h1 class="text-center text-3xl text-blue-700 font-weight-bold lg:pb-16 pb-10"><b><i>
                    <u>My Services</u>
                </i></b></h1>
        <div class="grid sm:grid-cols-3 grid-cols-1 gap-0">
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-laptop service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">Web Design</h4>
                    </div>
                    <p>Our approach to website design is to create a website that strengthens your company’s brand
                        while
                        ensuring ease of use
                        and simplicity for your audience.</p>
                    <button class="border-b-2 border-blue-600 text-teal-400 text-decoration-none web-design">Read
                        More</button>
                    <div id="web-design" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">Website Design — Creating the look & feel of your website
                        </h1>
                        <p class="pt-3">Simplicity is one of the golden rules of website design. The audience should
                            have an
                            enjoyable, positive experience when
                            using your website. Whether their objective is reading content, watching a video or
                            enrolling in a course, every action
                            should be clear and concise throughout the website. Our approach is to create a website that
                            strengthens your company’s
                            brand while ensuring ease of use and simplicity for your audience.
                            <img src="../../../assets/Images/web-design.png" class="py-2" alt="">
                            The website design process starts with a pen and paper to sketch page layouts, wire-frames,
                            sitemaps and menu
                            structures. Digital design concepts are then created incorporating your company’s brand
                            guidelines for a personalised
                            look and feel. You will be presented with a variety of website design concepts to review.
                            Feedback on the design
                            concepts is essential to give you the opportunity to express your thoughts on the design and
                            make alterations where
                            desired before the final sign-off.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Website Development — Building your website
                        </h1>
                        <p class="pt-3">Once the design has been finalised, the creation of the custom WordPress theme
                            can begin. The website development
                            process starts by taking the graphical elements (colours, fonts, layout, images) defined in
                            the design process and
                            coding them using web industry standards (PHP, HTML5, CSS3, JS, jQuery). This is typically
                            done by first coding the home
                            page, followed by templates for the interior pages. When the website is ready for review you
                            will be supplied with login
                            details to view the website before it is launched to the public. You will also be supplied
                            with instructions on how to
                            update your website.
                            <br><br>
                            All of the websites that we create have been built using tailor-made, custom WordPress
                            themes which have been coded from
                            scratch.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-laptop-code service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">Web Development</h4>
                    </div>
                    <p>The web development process starts by taking the graphical elements (colours, fonts) defined
                        in the
                        design process and coding them using web industry standards.</p>
                    <button class="border-b-2 border-blue-600 text-teal-400 text-decoration-none web-develop">Read
                        More</button>
                    <div id="web-develop" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">Website Development — Building your website
                        </h1>
                        <p class="pt-3">The website development process starts by taking the graphical elements
                            (colours, fonts, layout, images) defined in the
                            design process and coding them using web industry standards (PHP, HTML5, CSS3, JS, jQuery).
                            This is typically done by
                            first coding the home page, followed by templates for the interior pages. When the website
                            is ready for review you will
                            be supplied with login details to view the website before it is launched to the public. You
                            will also be supplied with
                            instructions on how to update your website.
                            <br><br>
                            All of the websites that we create have been built using tailor-made, custom WordPress
                            themes which have been coded from
                            scratch.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">WordPress CMS Development
                        </h1>
                        <p class="pt-3">Your website will be developed using WordPress CMS (Content Management System).
                            WordPress CMS adds a user-friendly
                            administrative area to your website allowing you to easily login and update the content of
                            your website at any time. You
                            can effortlessly make textual, graphic or structural changes to the website in an instant
                            without having to deal with or
                            look at any of the complicated programming code.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Cross-browser & Cross-device Testing
                        </h1>
                        <p class="pt-3">It’s important for your website to function correctly regardless of what browser
                            (Firefox, Chrome, Safari, Internet
                            Explorer) or device (iPhone, iPad, desktop computer) your audience is using. Before launch,
                            your website will be testing
                            on the latest versions of the major browsers, and across a range of mobile devices to ensure
                            that it looks and functions
                            correctly. Having a responsive website design is vital to ensure your audience has the best
                            experience using your
                            website on a mobile device without the need for panning, scrolling or resizes the page.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-android service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">Apps Design</h4>
                    </div>
                    <p>Our approach is to create an app design that strengthens your company’s brand while ensuring ease
                        of use and simplicity
                        for your audience.</p>
                    <button class="border-b-2 app-design border-blue-600 text-teal-400 text-decoration-none">Read
                        More</button>
                    <div id="app-design" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">App Design — Creating the look & feel of your app
                        </h1>
                        <p class="pt-3">Simplicity is one of the golden rules of app design. The audience should have an
                            enjoyable, positive experience when
                            using your app. Whether their objective is reading content, watching a video or enrolling in
                            a course, every action
                            should be clear and concise throughout the app. Our approach is to create an app design that
                            strengthens your company’s
                            brand while ensuring ease of use and simplicity for your audience.
                            <br><br>
                            The app design process starts with a pen and paper to sketch page layouts, wire-frames,
                            sitemaps and menu structures.
                            Digital design concepts are then created incorporating your company’s brand guidelines for a
                            personalised look and feel.
                            You will be presented with a variety of website design concepts to review. Feedback on the
                            design concepts is essential
                            to give you the opportunity to express your thoughts on the design and make alterations
                            where desired before the final
                            sign-off. Once finalised, the design files will be supplied to you in Photoshop (.psd) and
                            JPEG formats.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-apple service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">Apps Development</h4>
                    </div>
                    <p>The app development process starts by taking the graphical elements (colours, fonts) defined
                        in the
                        design process and coding them using app industry standards.</p>
                    <button class="border-b-2 app-develop border-blue-600 text-teal-400 text-decoration-none">Read
                        More</button>
                    <div id="app-develop" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">App Development — Building your App
                        </h1>
                        <p class="pt-3">The app development process starts by taking the graphical elements
                            (colours, fonts) defined in the
                            design process and coding them using web industry standards.
                            This is typically done by
                            first coding the home page, followed by templates for the interior pages. When the app
                            is ready for review you will
                            be supplied with login details to view the app before it is launched to the public. You
                            will also be supplied with
                            instructions on how to update your app.
                            <br><br>
                            All of the apps that we create have been built using tailor-made, custom WordPress
                            themes which have been coded from
                            scratch.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-search service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">SEO</h4>
                    </div>
                    <p>We offer customised SEO (Search Engine Optimisation) training to ensure your website is rising
                        the ranks in Google and
                        staying at the top.</p>
                    <button class="border-b-2 seo border-blue-600 text-teal-400 text-decoration-none">Read More</button>
                    <div id="seo" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">Website Search Engine Optimisation
                        </h1>
                        <p class="pt-3">SEO is the practice of improving and promoting a website in order to increase
                            the number of visitors it receives through
                            search engines such as Google, Bing and Yahoo. When a visitor searches for a website on
                            Google, they type keywords that
                            best describe the website they are looking for. The websites that Google lists have been
                            fully optimised to show up for
                            those specific keywords. For example, if someone searches for a ‘florist in Melbourne’
                            Google will list all websites in
                            Melbourne relating to florists. But how does Google know that a website relates to a
                            ‘florist in Melbourne’ and in what
                            order to rank them?
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Content
                        </h1>
                        <p class="pt-3">Creating keyword-rich content and producing fresh content regularly is a key
                            factor in SEO. Optimising images for best
                            quality while reducing file size also plays a role. Behind the scenes, your website will
                            contain meta tags, meta
                            keywords, meta descriptions, ALT tags, title tags, optimised naming conventions and
                            site-maps. Google utilises all of
                            this information to best target traffic to your website by people looking for what you
                            offer.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Performance
                        </h1>
                        <p class="pt-3">Ensuring your website loads quickly and works efficiently is another key factor
                            in SEO optimisation.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">
                            User Experience
                        </h1>
                        <p class="pt-3">User experience describes how visitors interact with your website and what
                            impression they are left with. Ease of
                            navigation, legible text, rich content and a brand identity they can trust all contribute
                            towards a positive user
                            experience. As previously mentioned, more than a quarter of all Google searches are now
                            taking place from mobile
                            devices. Google not only recommends responsive layouts but also favours websites with
                            responsive layouts. This is
                            especially true when a user searches for local services using a mobile device.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Google Places
                        </h1>
                        <p class="pt-3">A Google Places listing will allow your website to appear alongside its
                            competitors on the Google Maps view when a
                            visitor searches for your services. In order to set-up a Google Places listing Google
                            must post a PIN number to your
                            company’s address. This verification adds a level of trust to your website for the
                            visitors and for the Google search
                            engines.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Google Analytics
                        </h1>
                        <p class="pt-3">Google Analytics is a service that generates detailed statistics about a
                            website’s traffic, visitor’s keywords, number
                            of visitors, how the visitors have found your website and where they have accessed it from.
                            Using this information it is
                            possible to improve the flow of visitors to your website by fine-tuning the SEO.
                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">Google AdWords
                        </h1>
                        <p class="pt-3">Google AdWords is a service that advertises your website at the top of the
                            Google listings when a user searches for your
                            specific keywords. Google displays the advertisement for free but has a ‘pay per click’
                            system which means that you will
                            be charged every time a user clicks on your ad. You’ll start by choosing a daily budget that
                            you are comfortable with,
                            and then change it at any time. There’s no minimum spend and you’re not locked into a
                            contract.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="service-box text-center mb-5 mx-3">
                    <div class="flex items-center justify-center mb-4">
                        <i class="fa fa-2x fa-edit service-icon bg-blue-600 text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">Content Creating</h4>
                    </div>
                    <p>Professional website content writing by our in-house copywriter, Nicholas Grundy. We also offer
                        copy-writing for
                        optimising your website's SEO.</p>
                    <button class="border-b-2 content-writing border-blue-600 text-teal-400 text-decoration-none">Read
                        More</button>
                    <div id="content-writing" class="hidden py-5">
                        <h1 class="text-xl text-teal-500">Content Writing
                        </h1>
                        <p class="pt-3">You can also receive professional content writing for all of your website’s text
                            should you require a copywriter in
                            Dublin or elsewhere across Ireland. Professional copywriting goes hand in hand with your
                            website’s SEO (search engine
                            optimisation). It enables Google to more readily find your website when potential customers
                            search for your products or
                            services. Our in-house copywriter in Dublin has written the content for many of the projects
                            contained within our
                            portfolio section. These clients are highly satisfied, as their pages often appear in the
                            top three positions for Google
                            searches, leading to a flood of traffic to their websites.
                            <br><br>
                            Our in-house copywriter in Galway also works remotely for clients across the globe. Please
                            feel free to get in touch via
                            email or over the phone to discuss your website. Content has been written for websites in
                            Australia, Germany, Ireland,
                            and the UK. So if you are in London, Belfast, Galway, Berlin or elsewhere, don’t hesitate to
                            get in touch to opt for
                            this service as well.

                        </p>
                        <h1 class="text-xl text-teal-500 pt-3">German Translations
                        </h1>
                        <p class="pt-3">Our in-house copywriter is also a professional German translator and
                            interpreter, fluent in German after three years of
                            work and study in Berlin and Heidelberg. With years of experience translating for clients
                            from the IT and engineering
                            sectors, a full translation of your website can be readily completed. Usage of professional
                            translation software and
                            resources ensures accurate, efficient and accountable translations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>