<div *ngFor="let Header of Headers" class="mt-10 lg:mt-20 px-4">
    <div class="2xl:container 2xl:mx-auto px-4 py-5">
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 lg:py-20">
            <div class="flex justify-center items-center">
                <div>
                    <h3
                        class="text-white mt-10 text-center lg:text-left font-weight-bold mb-3 text-4xl sm:text-2xl md:text-3xl lg:text-5xl ">
                        Hello,
                        my name
                    </h3>
                    <h1
                        class="text-white text-center lg:text-left font-weight-bold mb-2 sm:text-3xl text-4xl md:text-4xl lg:text-7xl ">
                        {{Header.Name}}</h1>
                    <h1 class="py-5 flex justify-center items-center lg:justify-start">
                        <div class="typewrite text-white text-center lg:text-left text-4xl md:text-3xl sm:text-2xl lg:text-4xl"
                            data-period="2000"
                            data-type='[ "Web Designer", "Web Developer", "Front End Developer", "Back End Developer", "Apps Designer", "Apps Developer", "Full Stack Developer" ]'>
                            <span class="wrap"></span>
                        </div>
                    </h1>
                    <div class="flex justify-center items-center lg:justify-start pt-5 ">
                        <a href={{Header.ResumeLink}} download class="rounded-full ... mr-4 bg-white py-3 px-5">Download
                            CV</a>
                        <a href={{Header.ResumeLink}} target="_blank"
                            class="rounded-full ... hidden lg:block py-3 px-5 border-2">See
                            Resume</a>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div style="width: 35rem; height: 35rem;" class="flex justify-center items-center">
                    <img class="rounded-full" src={{Header.ImageLink}} alt="">
                </div>
            </div>
        </div>
        <div *ngIf="isLogged" class="flex justify-around items-center mt-9 ">
            <div>
                <a routerLink="/Update-Header/{{Header._id}}" type="button"
                    class="inline-block px-5 py-4 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out"><span
                        style="font-size: 20px;"><i class="fa-solid fa-pen-to-square"></i>
                        ToEdit</span></a>
            </div>
            <div>
                <button (click)="onDelete(Header._id)" type="button"
                    class="inline-block px-5 py-4 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"><span
                        style="font-size: 20px;"><i class="fa-solid fa-trash"></i>
                        Delete</span></button>
            </div>
        </div>
    </div>
</div>