<div class="flex justify-center mt-10 lg:mt-20 px-4">
    <div *ngIf="imageUploadIndicator; else elseBlock">
        <img src="../../../assets/Images/Loading.gif" alt="">
    </div>
    <ng-template #elseBlock>
        <div *ngIf="About.Title!=''; else elseBlock" class="block p-6 rounded-lg shadow-lg bg-white w-full">
            <form #formdata="ngForm" (ngSubmit)="submit()">
                <label class="font-serif
            text-xl">About Tittle<span class="text-red-700">*</span></label>
                <div class="form-group mb-6">
                    <input type="text" class="form-control block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Please Enter About Title" required name="Title" [(ngModel)]="About.Title">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">About Image<span class="text-red-700">*</span></label>
                        <input #imageinput (change)="selectimage(imageinput)" type="file" class="form-control
               block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">Select Your Birthday<span class="text-red-700">*</span></label>
                        <input type="date" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="Birthday" required
                            [(ngModel)]="About.Birthday">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">About Phone<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput123"
                            placeholder="Please Enter Live About Phone" name="Phone" required [(ngModel)]="About.Phone">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">About Email<span class="text-red-700">*</span></label>
                        <input type="email" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter About Email" name="Email" required [(ngModel)]="About.Email">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">About Name<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter About Name" name="Name" required [(ngModel)]="About.Name">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">About Freelance<span class="text-red-700">*</span></label>
                        <input type="text"
                            class="form-control
                                                                          block
                                                                          w-full
                                                                          px-3
                                                                          py-5
                                                                          text-base
                                                                          font-normal
                                                                          text-gray-700
                                                                          bg-white bg-clip-padding
                                                                          border border-solid border-gray-300
                                                                          rounded
                                                                          transition
                                                                          ease-in-out
                                                                          m-0
                                                                          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter About Freelance" name="Freelance" required
                            [(ngModel)]="About.Freelance">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif
                                  text-xl">About Experience<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                                  block
                                  w-full
                                  px-3
                                  py-5
                                  text-base
                                  font-normal
                                  text-gray-700
                                  bg-white bg-clip-padding
                                  border border-solid border-gray-300
                                  rounded
                                  transition
                                  ease-in-out
                                  m-0
                                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter About Experience" name="Experience" required
                            [(ngModel)]="About.Experience">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">About Degree<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                                  block
                                  w-full
                                  px-3
                                  py-5
                                  text-base
                                  font-normal
                                  text-gray-700
                                  bg-white bg-clip-padding
                                  border border-solid border-gray-300
                                  rounded
                                  transition
                                  ease-in-out
                                  m-0
                                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter About Degree" name="Degree" required [(ngModel)]="About.Degree">
                    </div>
                </div>
                <label class="font-serif
            text-xl">About Address<span class="text-red-700">*</span></label>
                <div class="form-group mb-6">
                    <textarea class="form-control block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="Address" rows="4"
                        placeholder="Please Enter About Address" required [(ngModel)]="About.Address"></textarea>
                </div>
                <label class="font-serif
            text-xl">About Description<span class="text-red-700">*</span></label>
                <div class="form-group mb-6">
                    <textarea class="form-control block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="Description"
                        rows="10" placeholder="Please Enter About Description" required
                        [(ngModel)]="About.Description"></textarea>
                </div>
                <button [disabled]="formdata.invalid" type="submit" class="
            w-full
            px-6
            py-5
            bg-blue-600
            text-white
            font-serif
            text-xl
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out"><b>Update About</b></button>
            </form>
        </div>
        <ng-template #elseBlock>
            <img src="../../../assets/Images/Loading.gif" alt="">
        </ng-template>
    </ng-template>
</div>