<div class="px-4 mt-10 lg:mt-20">
    <div class="2xl:container 2xl:mx-auto md:px-6 px-4 bg-white py-10 bg-white">
        <h1 class="text-center text-3xl text-blue-700 font-weight-bold lg:pb-16 pb-10"><b><i>
                    <u>CLIENTS SAY</u>
                </i></b></h1>
        <div class="grid sm:grid-cols-1 grid-cols-1 gap-0">
            <div class="px-10 flex justify-center items-center">
                <div class="owl-carousel testimonial-carousel" style="width: 100%;">
                    <div class="text-center px-4 py-8">
                        <i class="fa fa-3x fa-quote-left text-blue-600 mb-4"></i>
                        <h4 class="font-weight-light mb-4">“Mohd Ahasan Khan was great and not only completed the job to
                            the best of his
                            ability
                            but under the allotted time and budget! He was quick to communicate about
                            issues and think on his feet. Great to work with! ”
                        </h4>
                        <img class="img-fluid rounded-full mx-auto mb-3" src="../../.././assets/Images/portfolio-1.jpg"
                            style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0"><b>Tina Haibodi
                            </b></h5>
                    </div>
                    <div class="text-center px-4 py-8 mt-10">
                        <i class="fa fa-3x fa-quote-left text-blue-600 mb-4"></i>
                        <h4 class="font-weight-light mb-4">“ This is the second time working with Mohd Ahasan Khan and I
                            could not be
                            happier. He is
                            extremely easy to communicate with and delivers projects quickly. It is hard to
                            nd good talent and Mohd Ahasan Khan is very talented! ”</h4>
                        <img class="img-fluid rounded-full mx-auto mb-3"
                            src="../../.././assets/Images/testimonial-2.jpg" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0"><b>Christopher Robinson</b></h5>
                    </div>
                    <div class="text-center px-4 py-8 mt-10">
                        <i class="fa fa-3x fa-quote-left text-blue-600 mb-4"></i>
                        <h4 class="font-weight-light mb-4">“ Amazing front-end developer. Tap helped build out our web
                            app and will add
                            value to any future project he works on. Works quickly. Easily adaptable. And
                            helped form solutions to problems that popped up along the way. Wed happily
                            hire him again. ”
                        </h4>
                        <img class="img-fluid rounded-full mx-auto mb-3"
                            src="../../.././assets/Images/testimonial-3.jpg" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0"><b>Brent Ramirez
                            </b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>