/* ====================== Testimonial ================*/
.testimonial-carousel .text-center{
  background-color: #eaecf0d0;
  border-radius: 20px;
}

.testimonial-carousel .owl-dot {
  background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
  background: #0BCEAF;
}