<div class="flex justify-center mt-10 lg:mt-20 px-4">
    <div *ngIf="imageUploadIndicator; else elseBlock">
        <img src="../../../assets/Images/Loading.gif" alt="">
    </div>
    <ng-template #elseBlock>
        <div *ngIf="Project_Detail.Title!=''; else elseBlock" class="block p-6 rounded-lg shadow-lg bg-white w-full">
            <form #formdata="ngForm" (ngSubmit)="submit()">
                <label class="font-serif
            text-xl">Project Tittle<span class="text-red-700">*</span></label>
                <div class="form-group mb-6">
                    <input type="text" class="form-control block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Please Enter Project Title" required #Title="ngModel" name="Title"
                        [(ngModel)]="Project_Detail.Title">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">Project Image<span class="text-red-700">*</span></label>
                        <input #imageinput (change)="selectimage(imageinput)" type="file" class="form-control
               block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">Project Upload Date<span class="text-red-700">*</span></label>
                        <input type="date" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" required #Date="ngModel"
                            name="Date" [(ngModel)]="Project_Detail.Date">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">Project Live Link<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput123"
                            placeholder="Please Enter Live Project Deployed Link" required #LiveLink="ngModel"
                            name="LiveLink" [(ngModel)]="Project_Detail.LiveLink">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">Project Code Link<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter Github Project Link" required #CodeLink="ngModel" name="CodeLink"
                            [(ngModel)]="Project_Detail.CodeLink">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <label class="font-serif
                  text-xl">Project Owner Name<span class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter Project Owner Name" required #Owner="ngModel" name="Owner"
                            [(ngModel)]="Project_Detail.Owner">
                    </div>
                    <div class="form-group mb-6">
                        <label class="font-serif text-xl">Project Uploader Name<span
                                class="text-red-700">*</span></label>
                        <input type="text" class="form-control
                  block
                  w-full
                  px-3
                  py-5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            placeholder="Please Enter Project Uploader Name" required #Uploader="ngModel"
                            name="Uploader" [(ngModel)]="Project_Detail.Uploader">
                    </div>
                </div>
                <label class="font-serif
            text-xl">Project Description<span class="text-red-700">*</span></label>
                <div class="form-group mb-6">
                    <textarea class="form-control block
               w-full
               px-3
               py-5
               text-base
               font-normal
               text-gray-700
               bg-white bg-clip-padding
               border border-solid border-gray-300
               rounded
               transition
               ease-in-out
               m-0
               focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="Description"
                        rows="10" placeholder="Please Enter Project Description" required #Description="ngModel"
                        [(ngModel)]="Project_Detail.Description"></textarea>
                </div>
                <button [disabled]="formdata.invalid" type="submit" class="
            w-full
            px-6
            py-5
            bg-blue-600
            text-white
            font-serif
            text-xl
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out"><b>Update Project</b></button>
            </form>
        </div>
        <ng-template #elseBlock>
            <img src="../../../assets/Images/Loading.gif" alt="">
        </ng-template>
    </ng-template>
</div>