<div class="px-4 mt-10 lg:mt-20">
    <div class="2xl:container 2xl:mx-auto md:px-6 px-4  py-10 bg-white">
        <h1 class="text-center text-3xl text-blue-700 font-weight-bold lg:pb-16 pb-10"><b><i>
                    <u>EDUCATION & EXPERICENCE</u>
                </i></b></h1>
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-0">
            <div class="px-10">
                <h3 class="mb-4 text-3xl"><b>My Education</b></h3>
                <div class="border-l-2 border-blue-600 pt-2 pl-4 ml-2">
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px; left: -28px; font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>Bachelor of Technology</b></h5>
                        <p class="mb-2"><strong>Utter Pradesh Technical University</strong> | <small>2019 - 2023</small>
                        </p>
                        <p>I graduated from Utter Pradesh Technical University with my Bachelor of Technology, major in
                            computer science and engineering in 2023. My best grades were in algorithms
                            courses, and I did very well with learning complex concepts.</p>
                    </div>
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px; left: -28px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>Class Inter(12)</b></h5>
                        <p class="mb-2"><strong>Sardar Patel Inter Collage</strong> | <small>2018 - 2019</small></p>
                        <p>I completed 12th from Sardar Patel Inter Collage in 2019. I scored in 12th 70% marks. My best
                            marks ware in physics, chemistry and mathematics. I gained many skills
                            including time management, motivation, and commitment</p>
                    </div>
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px; left: -28px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>High School</b></h5>
                        <p class="mb-2"><strong>Sardar Patel Inter Collage</strong> | <small>2016 - 2017</small></p>
                        <p>I completed High School from Sardar Patel Inter Collage in 2017. I scored in 10th 70% marks.
                            My best
                            marks ware in Hindi, English and Science. I gained many skills through undergrad
                            including time management, motivation, and commitment
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-10">
                <h3 class="mb-4 text-3xl"><b>My Expericence</b></h3>
                <div class="border-l-2 border-blue-600 pt-2 pl-4 ml-2">
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px;left: -28px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>Web Designer</b></h5>
                        <p class="mb-2"><strong>Soft Company</strong> | <small> Excellent</small></p>
                        <p>Cooperated closely with the marketing team to develop concepts and mockups on 10+
                            projects.Worked
                            independently and as part of 3 cross-functional teams on conceptualizing website design and
                            optimization.</p>
                    </div>
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px;left: -28px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>App Developement</b></h5>
                        <p class="mb-2"><strong>Soft Company</strong> | <small> Good</small></p>
                        <p>Integrated Google Play Services and Google Maps APIs to improve user tracking by 33%,
                            increasing ad revenue by $131,000
                            across the suite.
                            Wrote 200+ pages of technical specifications and reports pertaining to application
                            development process.
                            Performed over 900 hours of testing on physical devices and an Android emulator on Linux..
                        </p>
                    </div>
                    <div class="relative ex-me mb-4">
                        <i class="far fa-dot-circle text-blue-600 absolute rounded-full"
                            style="top: 4px;left: -28px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1 text-xl"><b>Web Development</b></h5>
                        <p class="mb-2"><strong>Soft Company</strong> | <small> Excellent</small></p>
                        <p>Spearheaded end-to-end web development and cloud engineering. Directed two teams of four
                            employees each.
                            Prototyped average of 30 new product features a year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>